.u-section-1 {
  background-image: url("images/Senzatitolo-12.png");
  min-height: 1388px;
}

.u-section-1 .u-image-1 {
  width: 1289px;
  height: 936px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.75rem;
  margin: -761px calc(((100% - 1140px) / 2) + 136px) 0 calc(((100% - 1140px) / 2) + 32px);
}

.u-section-1 .u-image-2 {
  width: 125px;
  height: 102px;
  object-position: 24.52% 50%;
  margin: -279px auto 0 calc(((100% - 1140px) / 2) + 141px);
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  background-image: none;
  margin: -62px calc(((100% - 1140px) / 2) + 313px) 0 calc(((100% - 1140px) / 2) + 247px);
}

.u-section-1 .u-image-3 {
  width: 120px;
  height: 114px;
  margin: 350px auto 0 calc(((100% - 1140px) / 2) + 241px);
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 9px calc(((100% - 1140px) / 2) + 805px) 0 calc(((100% - 1140px) / 2) + 267px);
}

.u-section-1 .u-shape-1 {
  width: 93px;
  height: 93px;
  margin: -140px auto 0 calc(((100% - 1140px) / 2) + 429px);
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 19px calc(((100% - 1140px) / 2) + 595px) 0 calc(((100% - 1140px) / 2) + 429px);
}

.u-section-1 .u-shape-2 {
  width: 93px;
  height: 93px;
  margin: -140px calc(((100% - 1140px) / 2) + 445px) 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 19px calc(((100% - 1140px) / 2) + 421px) 0 calc(((100% - 1140px) / 2) + 602px);
}

.u-section-1 .u-image-4 {
  width: 75px;
  height: 67px;
  margin: -127px calc(((100% - 1140px) / 2) + 454px) 0 auto;
}

.u-section-1 .u-image-5 {
  width: 68px;
  height: 61px;
  margin: -64px auto 0 calc(((100% - 1140px) / 2) + 442px);
}

.u-section-1 .u-shape-3 {
  width: 93px;
  height: 93px;
  margin: 89px calc(((100% - 1140px) / 2) + 436px) 0 auto;
}

.u-section-1 .u-shape-4 {
  width: 93px;
  height: 93px;
  margin: -93px auto 0 calc(((100% - 1140px) / 2) + 452px);
}

.u-section-1 .u-shape-5 {
  width: 93px;
  height: 93px;
  margin: -93px calc(((100% - 1140px) / 2) + 277px) 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 19px calc(((100% - 1140px) / 2) + 570px) 0 calc(((100% - 1140px) / 2) + 453px);
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -28px calc(((100% - 1140px) / 2) + 412px) 0 calc(((100% - 1140px) / 2) + 611px);
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -28px calc(((100% - 1140px) / 2) + 253px) 0 calc(((100% - 1140px) / 2) + 770px);
}

.u-section-1 .u-shape-6 {
  width: 93px;
  height: 93px;
  margin: -140px calc(((100% - 1140px) / 2) + 118px) 0 auto;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 19px calc(((100% - 1140px) / 2) + 94px) 0 calc(((100% - 1140px) / 2) + 929px);
}

.u-section-1 .u-image-6 {
  width: 66px;
  height: 46px;
  margin: -115px auto 0 calc(((100% - 1140px) / 2) + 466px);
}

.u-section-1 .u-image-7 {
  width: 61px;
  height: 61px;
  margin: -56px calc(((100% - 1140px) / 2) + 453px) 0 auto;
}

.u-section-1 .u-image-8 {
  width: 61px;
  height: 56px;
  margin: -59px calc(((100% - 1140px) / 2) + 293px) 0 auto;
}

.u-section-1 .u-image-9 {
  width: 69px;
  height: 56px;
  margin: -56px calc(((100% - 1140px) / 2) + 130px) 0 auto;
}

.u-section-1 .u-shape-7 {
  width: 93px;
  height: 93px;
  margin: -74px auto 0 calc(((100% - 1140px) / 2) + 291px);
}

.u-section-1 .u-shape-8 {
  width: 93px;
  height: 93px;
  margin: -93px auto 0 calc(((100% - 1140px) / 2) + 130px);
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 19px calc(((100% - 1140px) / 2) + 732px) 0 calc(((100% - 1140px) / 2) + 291px);
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -28px calc(((100% - 1140px) / 2) + 893px) 0 calc(((100% - 1140px) / 2) + 130px);
}

.u-section-1 .u-image-10 {
  width: 54px;
  height: 54px;
  margin: -122px auto 0 calc(((100% - 1140px) / 2) + 311px);
}

.u-section-1 .u-image-11 {
  width: 61px;
  height: 65px;
  margin: -58px auto 60px calc(((100% - 1140px) / 2) + 146px);
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 891px;
  }

  .u-section-1 .u-image-1 {
    width: 884px;
    height: 594px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -456px;
    margin-right: calc(((100% - 940px) / 2) + -33px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-top: -256px;
    margin-left: calc(((100% - 940px) / 2) + 245px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -61px;
    margin-right: calc(((100% - 940px) / 2) + 5px);
    margin-left: calc(((100% - 940px) / 2) + 357px);
  }

  .u-section-1 .u-image-3 {
    width: 118px;
    height: 112px;
    margin-top: 357px;
    margin-left: calc(((100% - 940px) / 2) + 145px);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 636px);
    margin-left: calc(((100% - 940px) / 2) + 167px);
  }

  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 940px) / 2) + 356px);
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 498px);
    margin-left: calc(((100% - 940px) / 2) + 326px);
  }

  .u-section-1 .u-shape-2 {
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2) + 326px);
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 25px;
    margin-right: calc(((100% - 940px) / 2) + 332px);
    margin-left: calc(((100% - 940px) / 2) + 491px);
  }

  .u-section-1 .u-image-4 {
    margin-top: -130px;
    margin-right: calc(((100% - 940px) / 2) + 365px);
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 940px) / 2) + 339px);
  }

  .u-section-1 .u-shape-3 {
    width: 92px;
    margin-right: auto;
  }

  .u-section-1 .u-shape-4 {
    margin-right: calc(((100% - 940px) / 2) + 277px);
    margin-left: auto;
  }

  .u-section-1 .u-shape-5 {
    margin-right: calc(((100% - 940px) / 2) + 118px);
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 399px);
    margin-left: calc(((100% - 940px) / 2) + 424px);
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 247px);
    margin-left: calc(((100% - 940px) / 2) + 576px);
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 88px);
    margin-left: calc(((100% - 940px) / 2) + 735px);
  }

  .u-section-1 .u-shape-6 {
    margin-right: calc(((100% - 940px) / 2) + -33px);
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 0;
    margin-left: calc(((100% - 940px) / 2) + 894px);
  }

  .u-section-1 .u-image-6 {
    margin-left: auto;
  }

  .u-section-1 .u-image-7 {
    margin-top: -55px;
    margin-right: calc(((100% - 940px) / 2) + 293px);
  }

  .u-section-1 .u-image-8 {
    margin-right: calc(((100% - 940px) / 2) + 133px);
  }

  .u-section-1 .u-image-9 {
    height: 55px;
    margin-right: calc(((100% - 940px) / 2) + -21px);
  }

  .u-section-1 .u-shape-7 {
    margin-top: -72px;
    margin-left: calc(((100% - 940px) / 2) + 265px);
  }

  .u-section-1 .u-shape-8 {
    margin-top: -94px;
    margin-left: calc(((100% - 940px) / 2) + 105px);
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 558px);
    margin-left: calc(((100% - 940px) / 2) + 265px);
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 718px);
    margin-left: calc(((100% - 940px) / 2) + 105px);
  }

  .u-section-1 .u-image-10 {
    margin-top: -123px;
    margin-left: calc(((100% - 940px) / 2) + 285px);
  }

  .u-section-1 .u-image-11 {
    margin-top: -55px;
    margin-left: calc(((100% - 940px) / 2) + 121px);
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 731px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 483px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -346px;
    margin-right: calc(((100% - 720px) / 2) + -129px);
    margin-left: calc(((100% - 720px) / 2) + 30px);
  }

  .u-section-1 .u-image-2 {
    margin-top: -223px;
    margin-left: calc(((100% - 720px) / 2) + 146px);
  }

  .u-section-1 .u-text-2 {
    margin-top: -72px;
    margin-right: calc(((100% - 720px) / 2) + 176px);
    margin-left: calc(((100% - 720px) / 2) + 246px);
  }

  .u-section-1 .u-image-3 {
    margin-top: 241px;
    margin-left: calc(((100% - 720px) / 2) + 19px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 567px);
    margin-left: calc(((100% - 720px) / 2) + 30px);
  }

  .u-section-1 .u-shape-1 {
    margin-top: -137px;
    margin-right: calc(((100% - 720px) / 2) + 243px);
  }

  .u-section-1 .u-text-4 {
    margin-top: 12px;
    margin-right: calc(((100% - 720px) / 2) + 388px);
    margin-left: calc(((100% - 720px) / 2) + 216px);
  }

  .u-section-1 .u-shape-2 {
    margin-top: -136px;
    margin-left: calc(((100% - 720px) / 2) + 216px);
  }

  .u-section-1 .u-text-5 {
    margin-top: 19px;
    margin-right: calc(((100% - 720px) / 2) + 219px);
    margin-left: calc(((100% - 720px) / 2) + 384px);
  }

  .u-section-1 .u-image-4 {
    margin-top: -122px;
    margin-right: calc(((100% - 720px) / 2) + 252px);
  }

  .u-section-1 .u-image-5 {
    margin-top: -69px;
    margin-left: calc(((100% - 720px) / 2) + 229px);
  }

  .u-section-1 .u-shape-3 {
    margin-top: 88px;
    margin-left: calc(((100% - 720px) / 2) + 246px);
  }

  .u-section-1 .u-shape-4 {
    width: 91px;
    margin-right: calc(((100% - 720px) / 2) + 257px);
  }

  .u-section-1 .u-shape-5 {
    width: 92px;
    margin-top: -94px;
    margin-right: calc(((100% - 720px) / 2) + 123px);
  }

  .u-section-1 .u-text-6 {
    margin-top: 23px;
    margin-right: calc(((100% - 720px) / 2) + 360px);
    margin-left: calc(((100% - 720px) / 2) + 243px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 720px) / 2) + 215px);
    margin-left: calc(((100% - 720px) / 2) + 388px);
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 720px) / 2) + 88px);
    margin-left: calc(((100% - 720px) / 2) + 515px);
  }

  .u-section-1 .u-shape-6 {
    margin-top: -144px;
    margin-right: calc(((100% - 720px) / 2) + -13px);
  }

  .u-section-1 .u-text-9 {
    margin-top: 23px;
    margin-right: calc(((100% - 720px) / 2) + -31px);
    margin-left: calc(((100% - 720px) / 2) + 651px);
  }

  .u-section-1 .u-image-6 {
    margin-top: -118px;
    margin-left: calc(((100% - 720px) / 2) + 259px);
  }

  .u-section-1 .u-image-7 {
    margin-right: calc(((100% - 720px) / 2) + 271px);
  }

  .u-section-1 .u-image-8 {
    margin-right: calc(((100% - 720px) / 2) + 138px);
  }

  .u-section-1 .u-image-9 {
    margin-top: -53px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-shape-7 {
    margin-top: -76px;
    margin-left: calc(((100% - 720px) / 2) + 103px);
  }

  .u-section-1 .u-shape-8 {
    margin-top: -93px;
    margin-left: calc(((100% - 720px) / 2) + -35px);
  }

  .u-section-1 .u-text-10 {
    margin-top: 22px;
    margin-right: calc(((100% - 720px) / 2) + 500px);
    margin-left: calc(((100% - 720px) / 2) + 103px);
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 720px) / 2) + 638px);
    margin-left: calc(((100% - 720px) / 2) + -35px);
  }

  .u-section-1 .u-image-10 {
    margin-top: -125px;
    margin-left: calc(((100% - 720px) / 2) + 122px);
  }

  .u-section-1 .u-image-11 {
    margin-top: -53px;
    margin-left: calc(((100% - 720px) / 2) + -19px);
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 600px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 362px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -225px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2) + 146px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 86px);
    margin-left: calc(((100% - 540px) / 2) + 156px);
  }

  .u-section-1 .u-image-3 {
    width: 720px;
    height: 386px;
    margin-left: calc(((100% - 540px) / 2) + 37px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 417px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 540px) / 2) + 243px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2) + 298px);
    margin-left: calc(((100% - 540px) / 2) + 126px);
  }

  .u-section-1 .u-shape-2 {
    margin-left: calc(((100% - 540px) / 2) + 126px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2) + 129px);
    margin-left: calc(((100% - 540px) / 2) + 294px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 540px) / 2) + 252px);
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 540px) / 2) + 339px);
  }

  .u-section-1 .u-shape-3 {
    margin-left: calc(((100% - 540px) / 2) + 246px);
  }

  .u-section-1 .u-shape-4 {
    margin-right: calc(((100% - 540px) / 2) + 257px);
  }

  .u-section-1 .u-shape-5 {
    margin-right: calc(((100% - 540px) / 2) + 118px);
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2) + 270px);
    margin-left: calc(((100% - 540px) / 2) + 224px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 540px) / 2) + 125px);
    margin-left: calc(((100% - 540px) / 2) + 298px);
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 423px);
  }

  .u-section-1 .u-shape-6 {
    margin-right: calc(((100% - 540px) / 2) + -13px);
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 540px) / 2) + -31px);
    margin-left: calc(((100% - 540px) / 2) + 561px);
  }

  .u-section-1 .u-image-6 {
    margin-left: calc(((100% - 540px) / 2) + 259px);
  }

  .u-section-1 .u-image-7 {
    margin-right: calc(((100% - 540px) / 2) + 271px);
  }

  .u-section-1 .u-image-8 {
    margin-right: calc(((100% - 540px) / 2) + 138px);
  }

  .u-section-1 .u-image-9 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-shape-7 {
    margin-left: calc(((100% - 540px) / 2) + 103px);
  }

  .u-section-1 .u-shape-8 {
    margin-left: calc(((100% - 540px) / 2) + -35px);
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 540px) / 2) + 410px);
    margin-left: calc(((100% - 540px) / 2) + 13px);
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 540px) / 2) + 548px);
    margin-left: calc(((100% - 540px) / 2) + -35px);
  }

  .u-section-1 .u-image-10 {
    margin-left: calc(((100% - 540px) / 2) + 122px);
  }

  .u-section-1 .u-image-11 {
    margin-left: calc(((100% - 540px) / 2) + -19px);
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 455px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 228px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -91px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 141px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 42px);
  }

  .u-section-1 .u-image-3 {
    width: 118px;
    height: 114px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2) + 217px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 340px) / 2) + 243px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2) + 198px);
    margin-left: calc(((100% - 340px) / 2) + 26px);
  }

  .u-section-1 .u-shape-2 {
    margin-left: calc(((100% - 340px) / 2) + 26px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 340px) / 2) + 29px);
    margin-left: calc(((100% - 340px) / 2) + 194px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 340px) / 2) + 252px);
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 340px) / 2) + 272px);
  }

  .u-section-1 .u-shape-3 {
    margin-left: calc(((100% - 340px) / 2) + 246px);
  }

  .u-section-1 .u-shape-4 {
    margin-right: calc(((100% - 340px) / 2) + 249px);
  }

  .u-section-1 .u-shape-5 {
    margin-right: calc(((100% - 340px) / 2) + 118px);
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 340px) / 2) + 170px);
    margin-left: calc(((100% - 340px) / 2) + 124px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 340px) / 2) + 25px);
    margin-left: calc(((100% - 340px) / 2) + 198px);
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 223px);
  }

  .u-section-1 .u-shape-6 {
    margin-right: calc(((100% - 340px) / 2) + -13px);
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 340px) / 2) + -31px);
    margin-left: calc(((100% - 340px) / 2) + 461px);
  }

  .u-section-1 .u-image-6 {
    margin-left: calc(((100% - 340px) / 2) + 259px);
  }

  .u-section-1 .u-image-7 {
    margin-right: calc(((100% - 340px) / 2) + 271px);
  }

  .u-section-1 .u-image-8 {
    margin-right: calc(((100% - 340px) / 2) + 138px);
  }

  .u-section-1 .u-image-9 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-7 {
    margin-left: calc(((100% - 340px) / 2) + 103px);
  }

  .u-section-1 .u-shape-8 {
    margin-left: calc(((100% - 340px) / 2) + -35px);
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 340px) / 2) + 223px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 340px) / 2) + 448px);
    margin-left: calc(((100% - 340px) / 2) + -35px);
  }

  .u-section-1 .u-image-10 {
    margin-left: calc(((100% - 340px) / 2) + 122px);
  }

  .u-section-1 .u-image-11 {
    margin-left: calc(((100% - 340px) / 2) + -19px);
  }
}